<%= stylesheet_link_tag "posts" %>
<div class="posts">
    <% @posts.each do |post| %>
    <div class="post_container">
        <%= post.title %>
        <%= post.text %>
    </div>
    <% end %>
</div>