
.show_title,.show_text,.show_options{
    background-color:white;
    padding:20px;
    border:black solid 2px;
    
    box-shadow:inset 5px 5px rgba(0,0,0,.2),inset -5px -5px rgba(0,0,0,.5),
    4px 4px 0px rgba(0,0,0,.2), 0px 0px 0px 5px rgba(255, 255,255,.2);
    
    
}
.show_title{
    font-size:20px;
    text-transform:uppercase;
    text-shadow:1px 1px white, 2px 2px rgba(0,0,0,.4);
}
.show_text{
    text-indent:10px;
    margin-bottom:20px;
    padding-top:0px;
    white-space: pre-wrap; /* css-3 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.show_options{
    padding:10px;
    width:100px;
    text-align:center;
}
.image{
    float:right;
    height:150px;
    padding:10px;
    padding-left:20px;
}
.post{
    width:80%;
    margin:0 auto;
    
}
.mobile{
    display:none;
}
@media only screen and (max-width: 880px){
    #main{
        padding:0px;
    }
    .show_title,.show_text,.show_options, .post{
        float:none;
        width:100%;
        padding-left:10px;
        padding-right:10px;
        box-sizing:border-box;
        
        border:none;
        
    }
    .show_text{
        margin:0px 0px 50px 0px;
    }
    .image{
        display:none;
        margin:0 auto;
        clear:both;
    }
    .mobile{
        display:block;
    }
}