
.show_title,.show_text,.show_options{
    //width:100%;
    background-color:white;
    padding:20px;
    border:black solid 2px;
    box-shadow:inset 5px 5px rgba(0,0,0,.2),inset -5px -5px rgba(0,0,0,.5),
    4px 4px 0px rgba(0,0,0,.2), 0px 0px 0px 5px rgba(255, 255,255,.2);
}
.show_title{
    font-size:20px;
    text-transform:uppercase;
    text-shadow:1px 1px white, 2px 2px rgba(0,0,0,.4);
}
.show_text{
    padding:20px;
    padding-bottom:150px;
    text-indent:20px;
}
.show_options{
    padding:10px;
    width:100px;
    text-align:center;
}
.image{
    float:right;
    height:150px;
    padding:10px;
    padding-left:20px;
}
.post{
    width:80%;
    margin:0 auto;
    
}