.topic_container{
    margin:0 auto;
    width:400px;
    padding:10px;
    padding-bottom:40px;
    background-color:rgba(100,100,100,.1);
    text-align:center;
    display:block;
}
.topics{
    padding-left:20px;
}